<h5>Primary Beneficiaries</h5>

<form [formGroup]="beneficiariesForm" (ngSubmit)="onSubmit()">

  <div formArrayName="primary">
    <div class="form-beneficiary" *ngFor="let beneficiary of beneficiaries.controls; let i = index">
      <div [formGroupName]="i">
        <div class="input-group">
          <label for="{{'fullName' + i}}">
            Full Name
          </label>
          <input class="input-wide" type="text" formControlName="fullName" id="{{'fullName' + i}}"
            placeholder="John Doe">
        </div>
        <div class="input-group">
          <label for="{{'birthDate' + i}}">
            Date of Birth
          </label>
          <input type="text" formControlName="birthDate" id="{{'birthDate' + i}}"
            placeholder="MM/DD/YYYY">
        </div>
        <div class="input-group">
          <label for="{{'idType' + i}}">&nbsp;</label>
          <input class="input-narrow" type="text" formControlName="idType" id="{{'idType' + i}}">
        </div>
        <div class="input-group">
          <label for="{{'idValue' + i}}">&nbsp;</label>
          <input class="input-narrow" type="text" formControlName="idValue" id="{{'idValue' + i}}"
            placeholder="Optional">
        </div>
        <div class="input-group">
          <label for="{{'relationshipType' + i}}">
            Relationship
          </label>
          <input type="text" formControlName="relationshipType" id="{{'relationshipType' + i}}">
        </div>
        <div class="input-group">
          <label for="{{'ownershipValue' + i}}">&nbsp;</label>
          <input class="input-narrow" type="number" formControlName="ownershipValue"
            id="{{'ownershipValue' + i}}" placeholder="0 %">
        </div>
        <div class="btn-group-beneficiary">
          <button type="button" class="btn-ok" (click)="addBeneficiary()">
            <i class="uil uil-check"></i>
          </button>
          <button type="button" class="btn-cancel" (click)="removeBeneficiary(i)">
            <i class="uil uil-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="total-ownership" [ngClass]="{'valid': isTotalOwnershipValid}">
    <i class="uil uil-check" [hidden]="!isTotalOwnershipValid"></i>
    Primary Total: {{totalOwnership}}%
  </div>

  <br style="clear:both;" />

  <h5>Contingent Beneficiaries <input type="checkbox" formControlName="contingent"></h5>
</form>