h5 {
  margin-top: 48px;
}

.form-beneficiary {
  height: 60px;
  margin: 24px 0;
}

.input-group {
  margin-right: 32px;
  float: left;

  input {
    border: 1px solid #f6f6f6;
    &.ng-invalid {
      border: 1px solid #ed5b5b;
    }
  }

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
  }

  input, select {
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    padding: 12px 8px;
    font-size: 16px;
  }

  ::placeholder {
    color: #c7c7c7;
  }

  &.right-margin-small {
    margin-right: 16px;
  }
}

.input-wide {
  width: 240px;
}

.input-narrow {
  width: 80px;
}

.btn-group-beneficiary {
  padding-top: 30px;
  button {
    background-color: white;
    border: 1px solid white;
    i {
      font-size: 24px;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      border: 1px solid #c7c7c7;
    }
  }
  .btn-ok {
    color: #5dcc97;
  }
  .btn-cancel {
    color: #ed5b5b;
  }
  vertical-align: bottom;
}

.form-header {
  margin-top: 48px;
  font-weight: bold;
  font-size: 14px;
}

br {
  clear: both;
}
