<header>
  <div class="logo">
    <h3>IRA Application</h3>
    <p>IRA Accounts provided by Fidelity Investments</p>
  </div>
  <ul>
    <li class="active">
      <span class="circle">&nbsp;</span>
      <br />
      <span class="title">IRA Application</span>
    </li>
    <li class="active"><span class="circle">&nbsp;</span>
      <br />
      <span class="title">
        Risk Assessment
      </span>
    </li>
    <li class="active">
      <span class="circle">&nbsp;</span>
      <br />
      <span class="title">Upload ID</span>
    </li>
  </ul>
</header>