<ul>
  <li class="complete">
    <i class="uil uil-check"></i>
    Personal Information
  </li>
  <li class="complete">
    <i class="uil uil-check"></i>
    Contact Information
  </li>
  <li class="complete">
    <i class="uil uil-check"></i>
    Relationship
  </li>
  <li class="active">
    <i class="uil uil-circle"></i>
    Beneficiaries
  </li>
  <li>
    <i class="uil uil-circle"></i>
    Account Characteristics
  </li>
  <li>
    <i class="uil uil-circle"></i>
    Review
  </li>
</ul>




